.main {
    -fx-background-color: -primary-color;
    /*-fx-padding: 5; !* skal være <= 5 p.t., mere end 5 gør at horizontal paginator vibrerer på resize af vindue *!*/
}

.topbar {
    -fx-background-radius: 5;
    -fx-background-color: -topbar-color;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.sidebar {
    -fx-background-radius: 5;
    -fx-background-color: -sidebar-color;
    -fx-padding: 2 10 0 0;
    -fx-spacing: 10;
}

.icon {
    -fx-fill: -icon-color;
    -fx-font-size: 20;
}

.logo {
    -fx-text-fill: -accent-color;
    -fx-font-size: 20;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.nav-button .font-icon {
    -fx-fill: -icon-color;
    -fx-font-size: 24;
}

.nav-button .label {
     -fx-text-fill: -icon-color;
     -fx-font-size: 16;
 }

.nav-button .indicator {
    -fx-background-radius: 5;
    -fx-background-color: -accent-color;
}

.nav-button:active:hover .indicator {
    -fx-background-color: white;
}

.nav-button:hover .label,
.nav-button:hover .font-icon,
.nav-button:active:hover .label,
.nav-button:active:hover .font-icon {
    -fx-text-fill: white;
    -fx-fill: white;
}

.nav-button:active .label,
.nav-button:active .font-icon,
.nav-button:active .indicator {
    -fx-text-fill: -accent-color;
    -fx-fill: -accent-color;
}

.movie-poster {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.poster-play-button {
    -fx-font-size: 50;
    -fx-fill: white;
}

.poster-play-button:hover {
    -fx-fill: -accent-color;
}


.hpage-nav {
    -fx-font-size: 24;
    -fx-fill: lightgrey;
    -fx-cursor: hand;
}

.hpage-nav:hover {
    -fx-fill: white;
}

.hpage-title {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
